.body-container {
  font-size: var(--text-imput);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-imput);
  font-family: var(--major-font-family);
}

.container {
  max-width: 144rem;
  width: 100%;
  position: relative;
}

.header {
  background-image: url(../images/pattern-bg.png);
  max-width: 144rem;
  height: 25rem;
  position: relative;
  background-position: top;

  &__box {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    max-width: 60rem;
    width: 100%;
  }
}

.heading-primary {
  color: var(--white);
  font-size: 3rem;
  font-weight: var(--font-regular);
  margin: 0 1rem 2.4rem;
  text-align: center;
}

.search {
  text-align: center;
  display: flex;
  margin: 0 1rem 0;

  &__input {
    font-family: inherit;
    height: 6rem;
    width: 100%;
    border-radius: 1.4rem;
    border: none;
    font-size: inherit;
    padding-left: 2.4rem;
    color: var(--dark-gray);
    outline: none;

    &::placeholder {
      opacity: 0.8;
    }

    &:focus::placeholder {
      color: var(--light-gray);
    }
  }

  &__btn {
    border: none;
    background-color: var(--very-dark-gray);
    border-top-right-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    width: 6rem;
    height: 6rem;
    margin-left: -6rem;

    cursor: pointer;
  }
}

.main {
  background-color: var(--white);
  max-width: 111rem;
  width: 100%;
  min-height: 16rem;
  // margin: 0 auto;
  border-radius: 1.4rem;
  display: flex;
  box-shadow: 0 0.01rem 10rem 0rem rgba(14, 16, 41, 0.08);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  z-index: 10;
}
.data {
  display: flex;
  padding: 4rem 0 4rem;
  width: 100%;

  &__box {
    width: 25%;
    padding: 0 2rem 0;

    &:not(:last-child) {
      border-right: 0.1rem solid var(--light-gray);
    }
  }

  &__title {
    color: var(--dark-gray);
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: var(--font-medium);
  }

  &__value {
    font-size: 2.3rem;
    font-weight: var(--font-medium);
  }
}

// MAP
#map {
  background-color: rgb(135, 135, 138);
  //  flex: 1;
  // width: 100%;
  height: 52rem;
  z-index: 1;
  // transform: translateY(-16rem);
}

.attribution {
  font-size: 11px;

  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
